body {
  background-color: #0a192f;
  color: var(--color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

:root {
  --color: rgb(231 228 237);
  --sec-color: #64ffda;
  --bg-color: #0a192f;
}

canvas.p5Canvas {
  width: 400px !important;
  height: 400px !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;

}


/* navigation */
.nav {
  display: flex;
  justify-content: space-around;
  gap: 250px;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 700;
  position: fixed;
  z-index: 10;
  background: var(--bg-color);
  left: 0;
  right: 0;
  margin-top: -10px;
  
}

/* left side */
.left a {
  color: var(--color);
  padding: 5px;
  text-decoration: none;
}

.left #name {
  font-size: 16px;
}

/* right side */
.right a {
  color: rgba(255, 255, 255, 0.653);
  padding: 5px;
  text-decoration: none;
}

.left .general:hover {
  color: var(--sec-color);
}

/* Introduction container */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding-top: 375px;

}

.introduction {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introduction h1 {
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 500;
}

.introduction p {
  font-size: 18px;
  line-height: 1.8;
  padding-bottom: 40px;
  letter-spacing: 1px;
  text-align: center;
}

.mail a {
  padding: 20px 30px;
  border: 2px solid var(--sec-color);
  color: var(--color);
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
}

.mail a:hover {
  background-color: #64ffdb18;
}

/* about */
#about {
  padding-top: 115px;
  display: flex;

}

.about_me {
  max-width: 680px;
}

.about_me h1{
  font-size: 35px;
  padding: 10px 0;
}







.underline{
  opacity: 0.2;
  font-weight: 100;
  color: var(--color) ;
}

.about_me ul {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.about_me ul li {
  list-style: "> ";
  color: var(--sec-color);
}

.about .photo {
  width: 300px;

}




.photo img{
  width: 280px;
  object-fit: contain;
  border-radius: 10px;
  margin: 100px 35px;
  transition: all 0.3s ease;
}
.photo img:hover{
 transform: scale(1.03)
}

/* experience */
#exp {
  padding-top: 10px;
  padding-right: 50px;

}

.experience {
  max-width: 980px;
  margin-top: 0;

}
.experience h1{
  font-size: 35px;
    padding: 10px 0;
}
.experience h3 {
 color: var(--sec-color);
}
.experience p {
 padding-right: 75px;
}

/* projects */
#projects{
  padding-top: 60px;
}
#projects h1{
  font-size: 35px;
    padding: 10px 0;
}

.my-projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1020px;

}
.my-projects .list{
  padding: 5px 30px;
  margin: 5px;
  border-radius: 10px;
  background-color: #39588629;
  transition: 0.3s;
 
}

.list h3{
  font-size: 20px;
  color: var(--sec-color);
}

.list p{
  font-size: 15px;
}

.list:hover{
  transform: translateY(-8px);
  background-color: #4b6b9c46;
}