body {
  background-color: #0a192f;
  color: var(--color);
  font-family: 'Arial Narrow', Arial, sans-serif;

}

canvas.p5Canvas {
  width: 400px !important;
  height: 400px !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;

}

:root {
  --color: rgba(255, 255, 255, 0.679);
  --sec-color: #64ffda;
}

/* navigation */
.nav {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  padding-top: 15px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

/* left side */
.left a {
  color: rgba(255, 255, 255, 0.693);
  padding: 5px;
  text-decoration: none;
}

.left .name {
  font-size: 16px;
}

/* right side */
.right a {
  color: rgba(255, 255, 255, 0.653);
  padding: 5px;
  text-decoration: none;
}

/* Introduction container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding-top: 350px;

}

.introduction {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introduction h1 {
  margin-bottom: 0;
  font-size: 55px;
}

.introduction p {
  min-width: 800px;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 50px;
  letter-spacing: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.mail a {
  padding: 20px 30px;
  border: 2px solid var(--sec-color);
  color: var(--color);
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
}

.mail a:hover {
  background-color: #64ffdb18;
}