body {
  background-color: #0a192f;
  color: var(--color);
  font-weight: 350;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

:root {
  --color: rgb(231 228 237);
  --sec-color: #64ffda;
  --bg-color: #0a192f;
}

canvas.p5Canvas {
  width: 400px !important;
  height: 400px !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;

}


/* navigation */
.nav {
  display: flex;
  justify-content: space-around;
  gap: 250px;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 700;
  position: fixed;
  z-index: 10;
  background: var(--bg-color);
  left: 0;
  right: 0;
  margin-top: -10px;

}

/* left side */
.left a {
  color: var(--color);
  padding: 5px;
  text-decoration: none;
}

.left #name {
  font-size: 16px;
}

/* right side */
.right a {
  color: rgba(255, 255, 255, 0.653);
  padding: 5px;
  text-decoration: none;
}

.left .general:hover {
  color: var(--sec-color);
}

/* Introduction container */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding-top: 390px;
}

.introduction,
.heading {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}
.heading{
  padding-bottom: 0;
}

.heading h1 {
  margin-bottom: 0;
  margin-top: 30px;

  font-size: 70px;
  font-weight: 500;
  /* Animation part */
  overflow: hidden;
  border-right: 4px solid var(--sec-color);
  white-space: nowrap;
  width: 0;
  animation:
    typing 2.5s steps(25, end) forwards,
    blink-caret 1s ease-in-out forwards 2.5s;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: var(--sec-color);
  }

  100% {
    border-color: transparent;
  }
}


.introduction p {
  font-size: 18px;
  line-height: 1.8;
  padding-bottom: 40px;
  letter-spacing: 1px;
  text-align: center;
}

.mail a {
  padding: 20px 30px;
  border: 2px solid var(--sec-color);
  color: var(--color);
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
}

.mail a:hover {
  background-color: #64ffdb18;
}

/* about */
#about {
  padding-top: 90px;
  display: flex;
  padding-bottom: 55px;

}

.about_me {
  max-width: 680px;
}

.about_me h1 {
  font-size: 35px;
  padding: 10px 0;
}


.underline {
  opacity: 0.2;
  font-weight: 100;
  color: var(--color);
}

.about_me ul {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.about_me ul li {
  list-style: "> ";
  color: var(--sec-color);
}

/* Fade animation in the li */
li:nth-child(1) {
  transition-delay: .4s;
}

li:nth-child(2) {
  transition-delay: .5s;
}

li:nth-child(3) {
  transition-delay: .6s;
}

li:nth-child(4) {
  transition-delay: .7s;
}

li.fade:nth-child(5) {
  transition-delay: .8s;
}

li:nth-child(6) {
  transition-delay: .9s;
}



.about .photo {
  width: 300px;

}

.photo img {
  width: 280px;
  object-fit: contain;
  border-radius: 10px;
  margin: 120px 30px 0px 15px;
  transition: all 0.3s ease;
}

.photo img:hover {
  transform: scale(1.03)
}

/* experience */
#exp {
  padding-right: 36px;
  padding-bottom: 50px;

}

.experience {
  max-width: 980px;

}

.experience h1 {
  font-size: 35px;
  padding: 12px 0;
}

.experience h3 {
  color: var(--sec-color);
  margin-bottom: -5px;
}

.experience p {
  padding-right: 75px;
}

/* projects */
#projects {
  padding-top: 25px;
}

#projects h1 {
  font-size: 35px;
  padding: 10px 0;
}

.my-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1020px;
  padding: 10px 0;

}

.my-projects .list {
  padding: 5px 30px;
  margin: 5px;
  border-radius: 10px;
  background-color: #39588629;

}

.list h3 {
  font-size: 20px;
  color: var(--sec-color);
}

.list p {
  font-size: 15px;
}

.my-projects .list:hover {
  transition: all .2s;
  transform: translateY(-8px);
  background-color: #4b6b9c46;
}
/* Fade animation in the li */
 .my-projects .one{
  transition-delay: .3s;
  transition: 1s;



}

.my-projects .two{
  transition-delay: .5s;
  transition: 2s;


}

.my-projects .three{
  transition-delay: .7s;
  transition: 3s;


}

footer {
  display: flex;
  padding-top: 100px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer p {
  color: rgba(231, 228, 237, 0.482);
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 5px;
}