body {
  background-color: #0a192f;
  color: var(--color);
  font-weight: 350;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

:root {
  --color: rgb(231 228 237);
  --sec-color: #64ffda;
  --bg-color: #0a192f;
}

canvas.p5Canvas {
  width: 400px !important;
  height: 400px !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  
}

img {
  transition: 0.1s ease;
}

/* navigation */
.nav {
  display: flex;
  justify-content: space-around;
  gap: 250px;
  padding: 20px 0;
  font-size: 15px;
  font-weight: 700;
  position: fixed;
  z-index: 10;
  background: var(--bg-color);
  left: 0;
  right: 0;
  margin-top: -10px;
}

/* left side */
.left a {
  color: var(--color);
  padding: 5px;
  text-decoration: none;
}

.left #name {
  font-size: 18px;
}

/* right side */
.right a {
  color: rgba(255, 255, 255, 0.653);
  padding: 6px;
  text-decoration: none;
}

.right a img {
  width: 22px;
}

.right a img:hover{
  transform: scale(1.05);
}

.left .general:hover {
  color: var(--sec-color);
}

/* Introduction container */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding-top: 350px;

}

.introduction,
.heading {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.heading {
  padding-bottom: 0;
}

.heading h1 {
  margin-bottom: -5px;
  font-size: 70px;
  font-weight: 500;
  /* Animation part */
  overflow: hidden;
  border-right: 4px solid var(--sec-color);
  white-space: nowrap;
  animation:
    typing 2.5s steps(25, end) forwards,
    blink-caret 1s ease-in-out forwards 2.5s;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: var(--sec-color);
  }

  100% {
    border-color: transparent;
  }
}

.introduction p {
  line-height: 1.8;
  padding-bottom: 40px;
  letter-spacing: 1px;
  text-align: center;
}

.mail {
  position: relative;
}

.mail a {
  padding: 20px 25px;
  border: 1.5px solid var(--sec-color);
  color: var(--color);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  padding-left: 55px;
  color: var(--sec-color);
  font-size: 19px;
}

.mail a:hover {
  background-color: #64ffdb18;
}

.mail img {
  position: absolute;
  left: 24px;
  width: 26px;
}

/* about */
#about {
  padding-top: 90px;
  display: flex
}

.about_me {
  max-width: 752px;
}

.about_me h1 {
  font-size: 38px;
  padding: 10px 0;
}

.about_me p {
  padding-right: 15px;
}


.underline {
  opacity: 0.2;
  font-weight: 100;
  color: var(--color);
}

.about_me ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 17px;

}

.about_me ul li {
  list-style: "> ";
  color: var(--sec-color);
}

/* Fade animation in the li */
li:nth-child(1) {
  transition-delay: .4s;
}

li:nth-child(2) {
  transition-delay: .5s;
}

li:nth-child(3) {
  transition-delay: .6s;
}

li:nth-child(4) {
  transition-delay: .7s;
}

li.fade:nth-child(5) {
  transition-delay: .8s;
}

li:nth-child(6) {
  transition-delay: .9s;
}

.about .photo {
  width: 300px;

}

.photo img {
  width: 300px;
  object-fit: contain;
  border-radius: 10px;
  margin: 120px 30px 0px 15px;
  transition: all 0.3s ease;
}

.photo img:hover {
  transform: scale(1.03)
}

/* experience */
#exp {
  padding-right: 36px;
  padding-top: 45px;

}

.experience {
  max-width: 1065px;
}

.experience h1 {
  font-size: 38px;
  padding: 12px 0;
}

.experience h3 {
  color: var(--sec-color);
  margin-bottom: -5px;
  font-size: 20px;
}

.experience p {
  padding-right: 75px;
}

/* projects */
#projects {
  padding-top: 35px;

}

#projects h1 {
  font-size: 38px;
  padding: 10px 0;
}

.my-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1100px;
  padding: 10px 0;
}

.my-projects .list {
  padding: 30px 35px;
  margin: 5px;
  border-radius: 20px;
  background-color: #39588629;
  border: 2px solid rgba(255,255,255,0.06);
}

.list .folder{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10;
}

.folder .code{
  cursor: pointer;
}

.code:hover{
  transform: scale(1.05);
}

.list h3 {
  font-size: 21px;
  color: var(--sec-color);
  margin-bottom: 0;
}

.list .para-1 {
  font-size: 17px;
  line-height: 1.8;
  padding-bottom: 5px;
  letter-spacing: 1px;

}

.list .para-2 {
  font-size: 15px;
  line-height: 1.8;
  padding-bottom: 5px;
  letter-spacing: 1px;
}

.my-projects .list:hover {
  transition: all .2s;
  transform: translateY(-5px);
  background-color: #5675a346;
}

footer {
  display: flex;
  padding-top: 100px;
  padding-bottom: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer p {
  color: rgba(231, 228, 237, 0.675);
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 5px;
}


/* ---- Media query -----*/

@media (max-width: 1200px) {

  #container {
    margin: 0 25px;
  }

  #container li {
    font-size: 14px;
  }

  #container {
    justify-content: center;
    align-items: center;
  }

  .left {
    display: none;
  }

  .nav {
    justify-content: flex-end;
  }

  .right {
    padding-right: 20px;
  }

  canvas.p5Canvas {
    width: 300px !important;
    height: 300px !important;
    top: 25px;
  }

  .heading {
    max-width: 282px;
    margin-top: 70px;

  }

  .heading h1 {
    font-size: 32px;
    margin-top: -120px;
  }

  .introduction p {
    padding-bottom: 25px;
    margin-top: -15px;
    font-size: 14px;
  }

  .introduction {
    max-width: 390px;
  }

  .mail a {
    padding: 12px 20px;
    padding-left: 46px;
    font-size: 17px;
  }

  .mail img {
    left: 16px;
    width: 24px;
  }

  .about_me h1 {
    font-size: 28px;

  }

  .about_me .para {
    font-size: 14px;

  }

  #about {
    max-width: 595px;
    padding-top: 40px;
  }

  .photo img {
    display: none;
  }

  .underline {
    display: none;
  }

  #exp {
    max-width: 600px;
    padding: 0;
    padding-top: 30px;
  }

  .experience h1 {
    font-size: 28px;
  }

  .experience h3 {
    font-size: 17px;
  }

  .experience p {
    padding-right: 10px;
    font-size: 14px;
  }

  #projects {
    max-width: 600px;

  }

  #projects h1 {
    font-size: 28px;
  }


  .my-projects {
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }

  .my-projects .list {
    margin: 10px 10px;
  }

  .list h3 {
    font-size: 17px;
  }

  .list .para-1 {
    font-size: 14px;
  }

  .list .para-2 {
    font-size: 13px;
  }

}
