:root {
  --color: rgb(231 228 237);
  --sec-color: #64ffda;
  --bg-color: #0a192f;
}

.para {
  font-size: 19px;
  line-height: 1.8;
  padding-bottom: 5px;
  letter-spacing: 1px;
}


/* fade animation */
.fade {
  opacity: 0;
  transform: translateY(50px);
  transition: 1s ease;
  transition-delay: .2s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

/* Project fade animation */
.projectfade {
  opacity: 0;
  transform: translateY(50px);
  transition: .2s ease-in-out;

}

.projectfade.show {
  opacity: 1;
  transform: translateY(0);
}


.invert {
  filter: invert(100%);

}

.invert:hover {
  filter: invert(74%) sepia(92%) saturate(460%) hue-rotate(110deg) brightness(105%) contrast(101%);

}

.second-invert {
  filter: invert(74%) sepia(92%) saturate(460%) hue-rotate(110deg) brightness(105%) contrast(101%);
}