.para {
  font-size: 18px;
  line-height: 1.8;
  padding-bottom: 5px;
  letter-spacing: 1px;
}


/* fade animation */
.fade {
  opacity: 0;
  transform: translateY(50px);
  transition: 1s ease;
  transition-delay: .3s;
}

  .fade.show {
    opacity: 1;
    transform: translateY(0);
  }